<div class="post-container">
    <h2><a href="/post/{{post.id}}">{{post.title}}</a></h2>
    <h5>Author: {{post.user.username}}</h5>

    <div class="created-at">
        created at: <br>
        {{post.created_at}}
    </div>
    
    <p>{{post.content}}</p>
</div>